.credentials-page {
    max-width: 400px;
    margin: 2rem auto;
    padding: 2rem;
    background-color: var(--card-bg-color);
    border-radius: 10px;
    box-shadow: 0 4px 15px var(--shadow-color);
}

.credentials-page h1 {
    color: var(--accent-color);
    text-align: center;
    margin-bottom: 1.5rem;
}

.credentials-page form {
    display: flex;
    flex-direction: column;
}

.credentials-page .form-group {
    margin-bottom: 1.5rem;
}

.credentials-page label {
    display: block;
    margin-bottom: 0.5rem;
    color: var(--text-color);
    font-weight: 500;
}

.credentials-page input {
    width: 93.3%;
    padding: 0.8rem;
    border: 1px solid var(--input-border-color);
    border-radius: 5px;
    background-color: var(--input-bg-color);
    color: var(--text-color);
    transition: border-color 0.3s ease;
}

.credentials-page input:focus {
    outline: none;
    border-color: var(--accent-color);
}

.credentials-page button {
    width: 100%;
    padding: 0.8rem;
    background-color: var(--button-bg-color);
    color: var(--button-text-color);
    border: none;
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.credentials-page button:hover {
    background-color: #e61e14;
}

.custom-checkbox {
    display: inline-flex;
    align-items: center;
    cursor: pointer;
    user-select: none;
}

.custom-checkbox .checkbox-label {
    font-size: 14px;
    color: var(--text-color);
    margin-right: 4px;
    line-height: 1;
}

.custom-checkbox .checkbox-container {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 16px;
    height: 16px;
    position: relative;
    vertical-align: middle;
}

.custom-checkbox input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

.custom-checkbox .checkmark {
    width: 14px;
    height: 14px;
    background-color: var(--input-bg-color);
    border: 1px solid var(--input-border-color);
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.3s ease;
}

.custom-checkbox:hover input~.checkmark {
    border-color: var(--accent-color);
}

.custom-checkbox input:checked~.checkmark {
    background-color: var(--accent-color);
    border-color: var(--accent-color);
}

.custom-checkbox .checkmark svg {
    color: var(--button-text-color);
}

.login-link {
    color: var(--accent-color);
}